In [1]:
#Submission of module 1 by Gaurav Kataria
#PROBLEM STATEMENT 1.1
#To do:
# 1. Import csv file
# 2. Remove all the rows where 'Series' column in NOT 'EQ'
# 3. Use head(), tail() and describe() functions

In [2]:
import pandas as pd
import numpy as np
from pandas import read_csv
import datetime

In [3]:
bombay=pd.read_csv(r"C:\Users\gaura\Desktop\BOMDYEING.csv")
bombay

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,BOMDYEING,EQ,15-May-2017,83.00,83.15,83.75,81.90,82.15,82.20,82.57,1553427,1.282609e+08,8074,479867,30.89
1,BOMDYEING,EQ,16-May-2017,82.20,81.90,84.00,81.75,83.80,83.40,82.88,2149649,1.781606e+08,9804,561852,26.14
2,BOMDYEING,EQ,17-May-2017,83.40,82.55,83.80,82.05,82.25,82.25,82.71,1267468,1.048354e+08,7220,395417,31.20
3,BOMDYEING,EQ,18-May-2017,82.25,80.85,81.85,78.55,78.90,78.95,80.30,1156424,9.286568e+07,7001,538431,46.56
4,BOMDYEING,EQ,19-May-2017,78.95,79.75,80.35,76.35,77.30,77.15,78.07,1444416,1.127716e+08,7588,518874,35.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,BOMDYEING,EQ,07-May-2019,129.90,131.00,132.00,120.60,120.95,121.45,125.52,1478084,1.855324e+08,12253,648562,43.88
490,BOMDYEING,EQ,08-May-2019,121.45,121.05,124.30,116.70,119.00,119.35,120.07,1995002,2.395305e+08,18558,522180,26.17
491,BOMDYEING,EQ,09-May-2019,119.35,118.00,121.25,117.10,117.15,117.75,119.00,894850,1.064849e+08,8862,258254,28.86
492,BOMDYEING,EQ,10-May-2019,117.75,118.10,119.75,116.00,116.00,117.05,118.05,796178,9.398825e+07,6975,242329,30.44
493,BOMDYEING,EQ,13-May-2019,117.05,116.50,117.50,109.15,109.25,109.85,112.76,1120270,1.263235e+08,11181,380695,33.98

In [4]:
df=bombay.copy()
df = df[df.Series == "EQ"]
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,BOMDYEING,EQ,15-May-2017,83.00,83.15,83.75,81.90,82.15,82.20,82.57,1553427,1.282609e+08,8074,479867,30.89
1,BOMDYEING,EQ,16-May-2017,82.20,81.90,84.00,81.75,83.80,83.40,82.88,2149649,1.781606e+08,9804,561852,26.14
2,BOMDYEING,EQ,17-May-2017,83.40,82.55,83.80,82.05,82.25,82.25,82.71,1267468,1.048354e+08,7220,395417,31.20
3,BOMDYEING,EQ,18-May-2017,82.25,80.85,81.85,78.55,78.90,78.95,80.30,1156424,9.286568e+07,7001,538431,46.56
4,BOMDYEING,EQ,19-May-2017,78.95,79.75,80.35,76.35,77.30,77.15,78.07,1444416,1.127716e+08,7588,518874,35.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,BOMDYEING,EQ,07-May-2019,129.90,131.00,132.00,120.60,120.95,121.45,125.52,1478084,1.855324e+08,12253,648562,43.88
490,BOMDYEING,EQ,08-May-2019,121.45,121.05,124.30,116.70,119.00,119.35,120.07,1995002,2.395305e+08,18558,522180,26.17
491,BOMDYEING,EQ,09-May-2019,119.35,118.00,121.25,117.10,117.15,117.75,119.00,894850,1.064849e+08,8862,258254,28.86
492,BOMDYEING,EQ,10-May-2019,117.75,118.10,119.75,116.00,116.00,117.05,118.05,796178,9.398825e+07,6975,242329,30.44
493,BOMDYEING,EQ,13-May-2019,117.05,116.50,117.50,109.15,109.25,109.85,112.76,1120270,1.263235e+08,11181,380695,33.98

In [5]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,BOMDYEING,EQ,15-May-2017,83.00,83.15,83.75,81.90,82.15,82.20,82.57,1553427,1.282609e+08,8074,479867,30.89
1,BOMDYEING,EQ,16-May-2017,82.20,81.90,84.00,81.75,83.80,83.40,82.88,2149649,1.781606e+08,9804,561852,26.14
2,BOMDYEING,EQ,17-May-2017,83.40,82.55,83.80,82.05,82.25,82.25,82.71,1267468,1.048354e+08,7220,395417,31.20
3,BOMDYEING,EQ,18-May-2017,82.25,80.85,81.85,78.55,78.90,78.95,80.30,1156424,9.286568e+07,7001,538431,46.56
4,BOMDYEING,EQ,19-May-2017,78.95,79.75,80.35,76.35,77.30,77.15,78.07,1444416,1.127716e+08,7588,518874,35.92

In [6]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,BOMDYEING,EQ,07-May-2019,129.90,131.00,132.00,120.60,120.95,121.45,125.52,1478084,1.855324e+08,12253,648562,43.88
490,BOMDYEING,EQ,08-May-2019,121.45,121.05,124.30,116.70,119.00,119.35,120.07,1995002,2.395305e+08,18558,522180,26.17
491,BOMDYEING,EQ,09-May-2019,119.35,118.00,121.25,117.10,117.15,117.75,119.00,894850,1.064849e+08,8862,258254,28.86
492,BOMDYEING,EQ,10-May-2019,117.75,118.10,119.75,116.00,116.00,117.05,118.05,796178,9.398825e+07,6975,242329,30.44
493,BOMDYEING,EQ,13-May-2019,117.05,116.50,117.50,109.15,109.25,109.85,112.76,1120270,1.263235e+08,11181,380695,33.98

In [7]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades
count,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,4.160000e+02,4.160000e+02,416.000000
mean,170.281370,170.985457,175.788582,166.557452,170.587380,170.658293,171.543293,3.332290e+06,6.471081e+08,22052.622596
std,73.545274,73.776669,75.923854,71.755120,73.341464,73.398903,73.951186,3.820896e+06,8.203477e+08,21659.025797
min,66.950000,67.850000,70.150000,65.550000,67.300000,66.950000,68.150000,5.882200e+04,5.591031e+06,235.000000
25%,107.025000,107.962500,111.600000,104.425000,107.800000,107.900000,108.252500,1.145948e+06,1.188134e+08,7978.750000
50%,142.950000,143.400000,147.050000,139.350000,144.000000,144.100000,144.315000,1.908723e+06,3.313785e+08,14832.000000
75%,237.925000,238.512500,246.000000,232.175000,238.212500,237.925000,240.682500,4.208883e+06,8.712323e+08,27260.750000
max,313.850000,316.800000,321.900000,310.300000,313.700000,313.850000,315.300000,2.747162e+07,5.358356e+09,147489.000000

In [8]:
#PROBLEM STATEMENT 1.2
#To do
# 1. Calculate max, min and mean price for the last 90 days

In [9]:
df.tail(90)['Close Price'].max()

146.55

In [10]:
df.tail(90)['Close Price'].min()

101.6

In [11]:
df.tail(90)['Close Price'].mean()

121.24833333333333

In [12]:
#Problem Statement 1.3
#To do
# 1. Change date column to 'datetime64(ns)' 
# 2. Subtract the min value from the max value of the date column

In [13]:
df['Date'].dtypes

dtype('O')

In [14]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].dtypes

dtype('<M8[ns]')

In [15]:
MaxDate=df['Date'].max()

In [16]:
MinDate=df['Date'].min()

In [17]:
print(MaxDate-MinDate)

728 days 00:00:00

In [18]:
#Problem Statement 1.4
#To do:
# 1. Calculate Monthwise VWAP

In [19]:
df['year'] = pd.DatetimeIndex(df['Date']).year

In [20]:
df['month'] = pd.DatetimeIndex(df['Date']).month

In [21]:
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum() / df['Total Traded Quantity'].fillna(0).cumsum()

In [22]:
df_VWAP = df[['year','month','VWAP']]

In [23]:
dm = df_VWAP.groupby(['month','year'])

In [24]:
dm.head()

     year  month        VWAP
0    2017      5   82.200000
1    2017      5   82.896604
2    2017      5   82.731723
3    2017      5   82.017948
4    2017      5   81.089275
..    ...    ...         ...
486  2019      5  194.370501
487  2019      5  194.166800
488  2019      5  194.044746
489  2019      5  193.967072
490  2019      5  193.859468

[109 rows x 3 columns]

In [25]:
dm.first()

                  VWAP
month year
1     2018  165.934759
      2019  201.455497
2     2018  176.468473
      2019  199.976234
3     2018  187.988782
      2019  198.723169
4     2018  193.603407
      2019  196.105630
5     2017   82.200000
      2018  200.235322
      2019  194.370501
6     2017   74.789917
      2018  206.266038
7     2017   80.567641
      2018  206.725598
8     2017   82.887164
9     2017   92.107207
10    2017  123.715630
      2018  206.723634
11    2017  133.571155
      2018  206.313112
12    2017  141.447853
      2018  203.223213

In [26]:
#Problem Statement 1.5
#To do:
# 1. Write a function to calculate the average price over the last N days
# 2. Calculate the profit/loss percentage over the last N days

In [27]:
# 1.
def average_price(N):
    return(np.mean(df['Close Price'][-N:]))

In [28]:
print("The average price of the last 1 week is: {} ".format(average_price(7)))

The average price of the last 1 week is: 120.3142857142857

In [29]:
print("The average price of the last 2 weeks is: {} ".format(average_price(14)))

The average price of the last 2 weeks is: 121.39285714285712

In [30]:
print("The average price of the last 1 month is: {} ".format(average_price(30)))

The average price of the last 1 month is: 129.63666666666668

In [31]:
print("The average price of the last 3 months is: {} ".format(average_price(90)))

The average price of the last 3 months is: 121.24833333333333

In [32]:
print("The average price of the last 6 months is: {} ".format(average_price(180)))

The average price of the last 6 months is: 154.13305555555547

In [33]:
print("The average price of the last 1 year is: {} ".format(average_price(365)))

The average price of the last 1 year is: 183.1068493150685

In [34]:
#2. 
def pl_perc(N):
    diff=df['Close Price'][df.index[-N-1]] - df['Close Price'][df.index[-N]]
    return((diff/df['Close Price'][df.index[-N]])*100)

In [35]:
print("The profit/loss of the last 1 week is: {} ".format(pl_perc(7)))

The profit/loss of the last 1 week is: -5.163579030350806

In [36]:
print("The profit/loss of the last 2 weeks is: {} ".format(pl_perc(14)))

The profit/loss of the last 2 weeks is: 4.79452054794522

In [37]:
print("The profit/loss of the last 1 month is: {} ".format(pl_perc(30)))

The profit/loss of the last 1 month is: 0.07352941176470171

In [38]:
print("The profit/loss of the last 3 months is: {} ".format(pl_perc(90)))

The profit/loss of the last 3 months is: 0.3516483516483566

In [39]:
print("The profit/loss of the last 6 months is: {} ".format(pl_perc(180)))

The profit/loss of the last 6 months is: -0.5459668897498959

In [40]:
print("The profit/loss of the last 1 year is: {} ".format(pl_perc(365)))

The profit/loss of the last 1 year is: 0.8761682242990655

In [41]:
#Problem Statement 1.6
#To do:
# 1. Add column Day_Perc_Change

In [42]:
df['Day_Perc_Change'] = df['Close Price'].pct_change().fillna(0)
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,VWAP,Day_Perc_Change
0,BOMDYEING,EQ,2017-05-15,83.00,83.15,83.75,81.90,82.15,82.20,82.57,1553427,1.282609e+08,8074,479867,30.89,2017,5,82.200000,0.000000
1,BOMDYEING,EQ,2017-05-16,82.20,81.90,84.00,81.75,83.80,83.40,82.88,2149649,1.781606e+08,9804,561852,26.14,2017,5,82.896604,0.014599
2,BOMDYEING,EQ,2017-05-17,83.40,82.55,83.80,82.05,82.25,82.25,82.71,1267468,1.048354e+08,7220,395417,31.20,2017,5,82.731723,-0.013789
3,BOMDYEING,EQ,2017-05-18,82.25,80.85,81.85,78.55,78.90,78.95,80.30,1156424,9.286568e+07,7001,538431,46.56,2017,5,82.017948,-0.040122
4,BOMDYEING,EQ,2017-05-19,78.95,79.75,80.35,76.35,77.30,77.15,78.07,1444416,1.127716e+08,7588,518874,35.92,2017,5,81.089275,-0.022799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,BOMDYEING,EQ,2019-05-07,129.90,131.00,132.00,120.60,120.95,121.45,125.52,1478084,1.855324e+08,12253,648562,43.88,2019,5,193.967072,-0.065050
490,BOMDYEING,EQ,2019-05-08,121.45,121.05,124.30,116.70,119.00,119.35,120.07,1995002,2.395305e+08,18558,522180,26.17,2019,5,193.859468,-0.017291
491,BOMDYEING,EQ,2019-05-09,119.35,118.00,121.25,117.10,117.15,117.75,119.00,894850,1.064849e+08,8862,258254,28.86,2019,5,193.810270,-0.013406
492,BOMDYEING,EQ,2019-05-10,117.75,118.10,119.75,116.00,116.00,117.05,118.05,796178,9.398825e+07,6975,242329,30.44,2019,5,193.766147,-0.005945
493,BOMDYEING,EQ,2019-05-13,117.05,116.50,117.50,109.15,109.25,109.85,112.76,1120270,1.263235e+08,11181,380695,33.98,2019,5,193.698331,-0.061512

In [43]:
#Problem Statement 1.7
#To do:
# 1. Add column Trend

In [44]:
def label(row):
    if ((row['Day_Perc_Change'] >= -0.5) & (row['Day_Perc_Change'] <= 0.5)):
        df['Trend'] = 'Slight or No change'
    if ((row['Day_Perc_Change'] >= 0.5) & (row['Day_Perc_Change'] <= 1)):
        df['Trend'] = 'Slight positive'
    if ((row['Day_Perc_Change'] <= -0.5) & (row['Day_Perc_Change'] >= -1)):
        df['Trend'] = 'Slight negative'
    if ((row['Day_Perc_Change'] >= 1) & (row['Day_Perc_Change'] <= 3)):
        df['Trend'] = 'Positive' 
    if ((row['Day_Perc_Change'] <= -1) & (row['Day_Perc_Change'] >= -3)):
        df['Trend'] = 'Negative'
    if ((row['Day_Perc_Change'] >= 3) & (row['Day_Perc_Change'] <= 7)):
        df['Trend'] = 'Among top gainers'
    if ((row['Day_Perc_Change'] <= -3) & (row['Day_Perc_Change'] >= -7)):
        df['Trend'] = 'Among top losers'
    if (row['Day_Perc_Change'] > 7):
        df['Trend'] = 'Bull run' 
    if (row['Day_Perc_Change'] < -7):
        df['Trend'] = 'Bear drop'

In [45]:
df.apply (lambda row: label(row), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
489    None
490    None
491    None
492    None
493    None
Length: 416, dtype: object

In [46]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,VWAP,Day_Perc_Change,Trend
0,BOMDYEING,EQ,2017-05-15,83.00,83.15,83.75,81.90,82.15,82.20,82.57,1553427,1.282609e+08,8074,479867,30.89,2017,5,82.200000,0.000000,Slight or No change
1,BOMDYEING,EQ,2017-05-16,82.20,81.90,84.00,81.75,83.80,83.40,82.88,2149649,1.781606e+08,9804,561852,26.14,2017,5,82.896604,0.014599,Slight or No change
2,BOMDYEING,EQ,2017-05-17,83.40,82.55,83.80,82.05,82.25,82.25,82.71,1267468,1.048354e+08,7220,395417,31.20,2017,5,82.731723,-0.013789,Slight or No change
3,BOMDYEING,EQ,2017-05-18,82.25,80.85,81.85,78.55,78.90,78.95,80.30,1156424,9.286568e+07,7001,538431,46.56,2017,5,82.017948,-0.040122,Slight or No change
4,BOMDYEING,EQ,2017-05-19,78.95,79.75,80.35,76.35,77.30,77.15,78.07,1444416,1.127716e+08,7588,518874,35.92,2017,5,81.089275,-0.022799,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,BOMDYEING,EQ,2019-05-07,129.90,131.00,132.00,120.60,120.95,121.45,125.52,1478084,1.855324e+08,12253,648562,43.88,2019,5,193.967072,-0.065050,Slight or No change
490,BOMDYEING,EQ,2019-05-08,121.45,121.05,124.30,116.70,119.00,119.35,120.07,1995002,2.395305e+08,18558,522180,26.17,2019,5,193.859468,-0.017291,Slight or No change
491,BOMDYEING,EQ,2019-05-09,119.35,118.00,121.25,117.10,117.15,117.75,119.00,894850,1.064849e+08,8862,258254,28.86,2019,5,193.810270,-0.013406,Slight or No change
492,BOMDYEING,EQ,2019-05-10,117.75,118.10,119.75,116.00,116.00,117.05,118.05,796178,9.398825e+07,6975,242329,30.44,2019,5,193.766147,-0.005945,Slight or No change
493,BOMDYEING,EQ,2019-05-13,117.05,116.50,117.50,109.15,109.25,109.85,112.76,1120270,1.263235e+08,11181,380695,33.98,2019,5,193.698331,-0.061512,Slight or No change

In [47]:
#Problem Statement 1.8
#To do:
# 1. Find the average and mean values of the column 'Total Traded Quantity' for each type of Trend

In [48]:
df.groupby(df.Trend).mean()['Total Traded Quantity']

Trend
Slight or No change    3.332290e+06
Name: Total Traded Quantity, dtype: float64

In [49]:
df.groupby(df.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    1908723
Name: Total Traded Quantity, dtype: int64

In [50]:
#Problem Statement 1.9
#To do:
# 1. Save df as a csv file

In [51]:
df.to_csv('Week2.csv')